.photo-list__fav-icon {
  position: relative;
  top: 12px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -40px;
  border-width: 0.1px;
  width: 32px;
  height: 32px;
  text-align: center;
}


.photo-list__fav-icon-svg {
  position: relative;
  top: 12px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -40px;
  border-width: 0.1px;
  width: 32px;
  height: 32px;
  text-align: center;
  fill-opacity: 1;
  fill: red;
}